# PreProcessing the data of Different Stock Market

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
Aord = pd.read_csv('./Indices/ALLOrdinary.csv',index_col=0)
Cac40 = pd.read_csv('./Indices/CAC40.csv',index_col=0)
Daxi = pd.read_csv('./Indices/DAXI.csv',index_col=0)
Dji = pd.read_csv('./Indices/DJI.csv',index_col=0)
Hsi = pd.read_csv('./Indices/HSI.csv',index_col=0)
Nasdaq = pd.read_csv('./Indices/nasdaq_composite.csv',index_col=0)
Sp500 = pd.read_csv('./Indices/SP500.csv',index_col=0)
Nieeki = pd.read_csv('./Indices/Nikkei225.csv',index_col=0)
Spy = pd.read_csv('./Indices/SPY.csv',index_col=0)

NIFTY = pd.read_csv('./Indices/NIFTY.csv',index_col=0)

In [16]:
NIFTY.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2008-01-01,6136.750000,6165.350098,6109.850098,6144.350098,6144.350098,0.0
2008-01-02,6144.700195,6197.000000,6060.850098,6179.399902,6179.399902,0.0
2008-01-03,6184.250000,6230.149902,6126.399902,6178.549805,6178.549805,0.0
2008-01-04,6179.100098,6300.049805,6179.100098,6274.299805,6274.299805,0.0
2008-01-07,6271.000000,6289.799805,6193.350098,6279.100098,6279.100098,0.0
2008-01-08,6282.450195,6357.100098,6221.600098,6287.850098,6287.850098,0.0
2008-01-09,6287.549805,6338.299805,6231.250000,6272.000000,6272.000000,0.0
2008-01-10,6278.100098,6347.000000,6142.899902,6156.950195,6156.950195,0.0
2008-01-11,6166.649902,6224.200195,6112.549805,6200.100098,6200.100098,0.0
2008-01-14,6208.799805,6244.149902,6172.000000,6206.799805,6206.799805,0.0